@charset "UTF-8";

.pagePreview .tool{
  height: 70px;
  line-height: 70px;
  text-align: center;
  background: rgb(16,54,91); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(16,54,91,1) 0%, rgba(20,90,142,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(16,54,91,1) 0%,rgba(20,90,142,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(16,54,91,1) 0%,rgba(20,90,142,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10365b', endColorstr='#145a8e',GradientType=0 ); /* IE6-9 */
}
.pagePreview .tool button{
  background: none;
  margin: 0 10px;
  height: 40px;
  line-height: 40px;
  padding: 0px 30px;
}
.pagePreview .tool button span{
  color: #fff;
  font-size: 15px;
}
.pagePreview .tool button i{
  margin-right: 10px;
  font-size: 19px;
}
.pagePreview .tool button:hover{
  background: #fff;
}
.pagePreview .tool button:hover span,
.pagePreview .tool button:hover i{
  color: #0b72d1;
}
.pagePreview .main{
  background: #fff;
  padding: 100px 0;
}
.pagePreview .previewDiv{
  width: 566px;
  height: 1170px;
  background: url(../img/pagePreview_bg.png) no-repeat 0 0;
  margin: 0 auto;
  position: relative;
}
.pagePreview .main .scroll{
  width: 480px;
  height: 854px;
  background: #fff;
  position: absolute;
  top: 165px;
  left: 46px;
  overflow: auto;
}

.pagePreview .quTitle{
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(239,239,241,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,239,241,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(239,239,241,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efeff1',GradientType=0 ); /* IE6-9 */
}
.pagePreview .quTitle h1,
.pagePreview .quTitle h3{
  padding: 0px;
  margin: 0px;
  color: #0d71d1;
}
.pagePreview .quTitle h1{
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 15px;
}
.pagePreview .quTitle h3{
  font-size: 20px;
  font-weight: 200;
}
.pagePreview .quTitle .preview{
  padding: 50px 0;
  text-align: center;
  position: relative;
}
.pagePreview .quTitle .edit .el-input{
  padding: 0px;
}
.pagePreview .quExplain{
  background: #fafafa;
  border-bottom: 1px solid #ececec;
}
.pagePreview .quExplain .preview{
  text-align: center;
  padding: 30px 0;
  position: relative;
}
.pagePreview .quExplain .edit .el-input{
  padding: 0px;
}
.pagePreview .quList{
  padding: 50px 0 0 0;
  background: #fafafa;
  margin: 0px;
}
.pagePreview .quList>li{
  list-style: none;
  border-bottom: 1px solid #ececec;
  margin-bottom: 25px;
  padding: 0;
}
.pagePreview .quList>li .preview{
  padding: 0 30px 10px 30px;
  position: relative;
}
.pagePreview .quList>li:nth-last-child(1){
  border-bottom: none;
}
.pagePreview .quList>li .required{
  color: #f00;
  font-style: normal;
}
.pagePreview .quList>li .t{
  margin-bottom: 10px;
}
.pagePreview .quList .marks{
  font-size: 12px;
  color: #747474;
  display: inline-block;
  margin-left: 20px;
}
.pagePreview .el-input{
  padding: 15px 0;
}
.pagePreview .el-select,
.pagePreview .el-radio,
.pagePreview .el-checkbox,
.pagePreview .el-cascader{
  display: block;
  padding: 15px 0;
}
.pagePreview .el-cascader .el-input{
  padding: 0px;
}
.pagePreview .quList .table{
  width: 430px;
  padding: 15px 0;
  margin-bottom: 0px;
}
.pagePreview .quList table{
  width: 100%;
}
.pagePreview .quList table td,
.pagePreview .quList table th{
  width: 16%;
  text-align: center;
  font-weight: normal;
  padding: 5px 0;
  color: #3d3d3d;
  font-size: 15px;
}
.pagePreview .quList table td{
  border-bottom: 1px dashed #ececec;
}
.pagePreview .quList table tr:nth-last-child(1) td{
  border:none;
}
.pagePreview .quList table .el-radio,
.pagePreview .quList table .el-checkbox{
  margin: 0;
  padding: 0px;
}
.pagePreview .btns{
  text-align: center;
  padding: 5px 44px 30px 44px;
}
.pagePreview .btns button{
  display: block;
  width: 100%;
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
}
/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {
}
/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
  
}